{{ {
   'last_updated':       now().strftime('%H:%M:%S'),

   'aaa':                (states('sensor.aaa') | float(-9999)),
   'bbb':                (states('sensor.bbb') | float(-9999)),
   'ccc':                (states('sensor.ccc') | float(-9999)),
   'ddd':                (states('sensor.ddd') | float(-9999)),
   'eee':                (states('sensor.eee') | float(-9999)),
   'fff':                (states('sensor.fff') | float(-9999)),
   'ggg':                (states('sensor.ggg') | float(-9999)),
   'hhh':                (states('sensor.hhh') | float(-9999)),
   'iii':                (states('sensor.iii') | float(-9999)),
   'jjj':                (states('sensor.jjj') | float(-9999)),
   'shade1':             (state_attr('cover.shade1', 'current_position') | default(-9999) | int),
   'door1':              (states('binary_sensor.door1') | default(false) | bool),

   'wind_heading':       (states('sensor.wind_heading') | float(-9999) -100),
   'wind_speed':         (states('sensor.wind_speed') | float(-9999)),
} | tojson }}